<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" color="dark">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="senha" type="password" required></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="login()">Login</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/esqueceusenha']" routerDirection="forward" fill="clear" color="primary">Esqueceu Senha</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/cadastro']" routerDirection="forward" fill="clear" color="primary">Cadastro</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
