.input-item{
    background-color: black;
}

.login-container{
    text-align: center;
}

.ion-text-center {
    text-align: center;
    padding-right: 60px;
}

.cad{
    text-align: center;
    font-size: 23px;
    justify-content: center;
}

.cad-button{
    font-size: 20px;
}