<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Unitoken</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="content-wrapper">
    <h1 class="title">O que é a Autenticação de Dois Fatores?</h1>

    <h3 class="sub">
      A autenticação de dois fatores (2FA) é um método de segurança utilizado para proteger suas contas online,
      exigindo duas formas diferentes de verificação antes de permitir o acesso. A ideia é que, além da senha,
      é necessário um segundo fator de verificação para garantir que somente você, o proprietário da conta, possa acessá-la.
    </h3>

    <h3 class="sub">
      A 2FA é uma camada extra de proteção contra acessos não autorizados. Ela funciona com base em dois componentes distintos:
    </h3>

    <h1 class="sub">1. Algo que você sabe: Como sua senha ou pin</h1>
    <h1 class="sub">2. Algo que você tem: Como seu celular, um dispositivo de autenticação, ou uma chave de segurança física.</h1>
    <h3 class="sub">
      Ao combinar esses dois fatores, mesmo que alguém descubra sua senha, ainda será necessário o segundo fator
      para acessar a conta, tornando a autenticação mais segura.
    </h3>
  </div>
</ion-content>
