<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" color="dark">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Unitoken</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <h1 class="title">Exemplos de Métodos de 2FA</h1>
  <br />

  <h1 class="sub">SMS: Recebimento de um código por mensagem de texto no celular.<br> <br>
    Aplicativos de Autenticação: Como Google Authenticator ou Authy, que geram códigos temporários.<br> <br>
    E-mail: O código de verificação pode ser enviado para seu e-mail, sendo necessário acessá-lo para obter o código.<br> <br>
    Chave de segurança (FIDO/U2F): Um dispositivo físico que você conecta ao computador ou insere em seu celular para validar a identidade.
  
  </h1>
</ion-content>
