<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ajuda"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Unitoken</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="content-wrapper">
    <h1 class="title">Vantagens da Autenticação de Dois Fatores</h1>

    <h1 class="sub">
      Aumento da segurança: Mesmo que sua senha seja comprometida, a conta não pode ser acessada sem o segundo fator de verificação.
      <br /><br />
      Proteção contra roubo de senha: Impede que ataques de phishing ou vazamentos de senhas permitam o acesso não autorizado à sua conta.
      <br /><br />
      Segurança extra para dados sensíveis: Garante que apenas você, ou alguém com acesso ao seu segundo fator, consiga acessar suas informações pessoais ou contas bancárias online.
      <br /><br />
    </h1>
    <h3 class="sub">
      A autenticação de dois fatores é uma prática essencial para garantir a proteção de suas contas na internet e reduzir os riscos de invasões.
    </h3>
  </div>
</ion-content>
