/* Definições de variáveis para cores e estilos */
$primary-color: #4a90e2;
$secondary-color: #50e3c2;
$background-color: #1c1c1e;
$header-background-color: #282828;
$text-color: #f5f5f5;
$button-background-color: rgba(255, 255, 255, 0.1);
$button-hover-color: rgba(255, 255, 255, 0.2);
$border-radius: 8px;

body {
  background-color: $background-color;
  color: $text-color;
}

ion-header, ion-toolbar {
  background-color: $header-background-color;
  color: $text-color;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

ion-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.too {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-content {
  --background: $background-color;
}

.user-info {
  display: flex;
  align-items: center;
}

ion-avatar {
  border: 2px solid $primary-color;
}

ion-chip {
  --background: $button-background-color;
  --border-radius: $border-radius;
  color: $text-color;
  transition: background-color 0.3s ease;

  &:hover {
    --background: $button-hover-color;
  }
}

ion-item.user-item {
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin: 0;
  background: transparent; /* Fundo transparente */
  border-radius: $border-radius;
  transition: background-color 0.3s ease;

  &:hover {
    background: $button-hover-color;
  }

  ion-avatar {
    margin-right: 12px;
  }

  ion-label {
    font-size: 18px;
  }
}

ion-button {
  --background: $button-background-color;
  --border-radius: $border-radius;
  --color: $text-color;
  transition: background-color 0.3s ease;

  &.conta {
    margin-bottom: 12px;
  }

  &.base {
    margin-bottom: 16px;
  }

  &:hover {
    --background: $button-hover-color;
  }
}

ion-fab-button {
  --background: $primary-color;
}

ion-icon {
  font-size: 24px;
}

ion-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #282828;
}

ion-item {
  --background: $button-background-color;
  margin-bottom: 12px;
  border-radius: $border-radius;
  transition: background-color 0.3s ease;

  &:hover {
    --background: $button-hover-color;
  }

  ion-label {
    color: $text-color;

    h2 {
      font-size: 20px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      color: rgba(245, 245, 245, 0.8);
    }
  }
}

.no-codes {
  text-align: center;
  color: $secondary-color;
  font-size: 16px;
  margin-top: 20px;
}

.ion-text-center {
  color: #4a90e2;
  text-align: center;
  font-size: 30px;
}