.escrita{
  color: snow;
}
.base{
  
  color: snow;
}
.body{
  color: snow;
}
.escrita{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 40%;
     
}
.too{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
