<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="content-wrapper">
    <h1 class="title">Ajuda</h1>

    <ion-button
      [routerLink]="['/o-que-e']"
      routerDirection="forward"
      expand="block"
      color="primary"
      class="help-button"
    >O que é a Autenticação de Dois Fatores?</ion-button>

    <ion-button
      [routerLink]="['/comofunciona']"
      routerDirection="forward"
      expand="block"
      color="primary"
      class="help-button"
    >Como Funciona a Autenticação de Dois Fatores?</ion-button>

    <ion-button
      [routerLink]="['/metodo2fa']"
      routerDirection="forward"
      expand="block"
      color="primary"
      class="help-button"
    >Exemplos de Métodos de 2FA</ion-button>

    <ion-button
      [routerLink]="['/vantagem']"
      routerDirection="forward"
      expand="block"
      color="primary"
      class="help-button"
    >Vantagens da Autenticação de Dois Fatores</ion-button>
  </div>
</ion-content>
